/*Animated cube*/
body {
    background-color: darkgrey;
}

div {
    position: absolute;
    background-color: red;
    width: 25vw;
    height: 10vh;

    left: 0;
    top: 0;
    animation: firstAnimation 5s linear 0s infinite;
}

@keyframes firstAnimation {
    0% { 
        left: 0%;
    }

    100% {
        left: 75%;
    }
}