body {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(10fr, 25fr, 10fr);
}

div {   
    text-align: center;
    font-size: 4vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 600px;
}


div:nth-child(1){
    background-color: darkturquoise; 
    
}    

div:nth-child(2){
    background-color: darkviolet;
}

div:nth-child(3){
    background-color: deepskyblue;
}