body {
    background-color: aqua;
}

div {
    background-color: white;
    padding-top: 2rem;
    padding-bottom: 5px;
    margin-left: 30%;
    margin-right: 30%;
}

a {
    padding: 8px 15rem;
    padding-left: 2rem;
    padding-right: 2rem;

    display: block;
    text-decoration: underline;

    margin-left: 10px;
    margin-right: 10px;

    margin-top: 5px;
    margin-bottom: 5px;

    text-align: center;
}

.Red {
   background-color: Red; 
}

.Orange {
    background-color: Orange;
}

.Yellow {
    background-color: Yellow;
}

.Green {
    background-color: Green;
}

.Blue {
    background-color: blue;
}

.Indigo {
    background-color: indigo;
}

.Violet {
    background-color: violet;
}