@import url( 'https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&family=Lora:ital@1&family=Montserrat:wght@700&display=swap');

body {
    background-color:  #222222;
    color: #cccccc;
    padding-left: 12rem;

}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}

h2 {
   font-family: 'Lora', serif; 
   font-weight: 100;
}

p {  
   font-family: 'Hind Madurai', sans-serif;
   width: 30%;
}