div {
    height: 50vh;
    width: 50vw;

    margin-left: 40%;

    background-color: black;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

div:nth-child(1) {
      color: blue;
}

div:nth-child(2) {
    color: green;
}

div:nth-child(3) {
    color: yellow;
}

background {
    linear-gradient: 90% red;
}

h1 {
    background: linear-gradient(90deg red);
}