div {
    height: 50vh;
    width: 50vw;

    margin-left: 40%;

    background-color: black;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

div:nth-child(1) {
    background: linear-gradient(90deg black);
}

div:nth-child(2) {
    background: linear-gradient(90deg red);
}

div:nth-child(3) {
    background: linear-gradient(90deg blue);
}

h1 {
    background: linear-gradient(90deg red);
}